nav {
    background-color: grey;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}
nav a:hover {
    color: blue;
}

.Sce1 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.Sce2 {
    background-color: beige;
    margin-top: 30px;
    padding: 15px;
    border-top: 2px solid #ccc;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: blue;
}

a {
    color: white;
    text-decoration: none;
}