.box1 {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 20px solid blue;
    margin: 20px;
    padding: 50px 20px 30px 20px;
    box-shadow: 20px 20px 5px grey;
}

.text {
    background-image: url('../Images/Tree.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    background-position: full;
    width: 500px;
    height: 500px;
    border: 10px solid green;
    margin: 30px;
    padding: 40px;
    box-shadow: 20px 10px 10px grey;
}