h1 {
    color: blue;
}
.border {
    background-color: aquamarine;
    border: 10px solid red;
    padding: 10px;
}
#second {
    background-color: pink;
    /* display: none; */
    /* visibility: hidden; */
}
#innerText {
    border: 5px solid green;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
}